@use "../variables" as *;

.user-card {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: $background;
  margin: 20px;
  max-width: 400px;

  h2 {
    color: $text;
    margin-bottom: 15px;
  }

  p {
    margin: 8px 0;
    color: $text;
    opacity: 0.8;

    strong {
      color: $text;
      opacity: 1;
    }
  }
}
