// Kolory podstawowe
$primary-color: #3498db;
$background-color: #ffffff;
$text-color: #000000;

// Kolory dla trybu ciemnego
$primary-color-dark: #1abc9c;
$background-color-dark: #2c3e50;
$text-color-dark: #ecf0f1;