// Kolory podstawowe
$white: #fff;
$black: #000;

// Kolory
$primary-color: #f5f5f5;
$secondary-color: #001689;
$tertiary-color: #6bff37;
$quaternary-color: #004f2c;
$primary-color-light: #fed3f2;
$white: #fff;

// Kolory ciemne
$primary-color-dark: rgb(27, 29, 34);
$secondary-color-dark: rgb(49, 53, 66);
