// Definicje kolorów
$theme-colors: (
  light: (
    primary: #3498db,
    background: #f5f5f5,
    background2: #ffffff,
    text: #000000,
  ),
  dark: (
    primary: #1abc9c,
    background: #2c3e50,
    background2: #383b4a,
    text: #ffffff,
  ),
);

// Ustawienia motywu
@use "sass:map";

@function set-theme-colors($theme) {
  @return map.get($theme-colors, $theme);
}

:root {
  --primary: #{map.get(set-theme-colors('light'), primary)};
  --background: #{map.get(set-theme-colors('light'), background)};
  --background2: #{map.get(set-theme-colors('light'), background2)};
  --text: #{map.get(set-theme-colors('light'), text)};

  &[data-theme="dark"] {
    --primary: #{map.get(set-theme-colors('dark'), primary)};
    --background: #{map.get(set-theme-colors('dark'), background)};
    --background2: #{map.get(set-theme-colors('dark'), background2)};
    --text: #{map.get(set-theme-colors('dark'), text)};
  }
}

// Globalne zmienne kolorów
$primary: var(--primary);
$background: var(--background);
$background2: var(--background2);
$text: var(--text);